[experiment]
    name                        = "ML-forecast-correction"
    seed                        = 42
    net                         = "SmaAt_UNet"
    lead_time                   = "48h" #, "72h"]
    # Hyperparameters
    learning_rate               = 1e-3
    batch_size                  = 32
    epochs                      = 50
    loss                        = "MSELoss" #, "CrossEntropyLoss"] # "L1Loss", "CrossEntropyLoss", "BCEWithLogitsLoss"
    norm_strategy            = "BatchNorm2d" # "LayerNorm", "InstanceNorm2d"
    supervised                  = true
    train_percent               = 0.9
    earlystopping_patience      = 30
    accumulate_grad_batches     = 2
    [experiment.train]
        source                  = "juno-grib"
        variable                = "v10" #, "t2m", "d2m", "msl", "u10", "tcc"]
        region                  = "ContiguousUS" #, "Europe"]
        start_date              = "2021-03-23T00:00:00"
        end_date                = "2023-12-31T00:00:00"
    [experiment.test]
        source                  = "juno-grib"
        variable                = "v10" #, "t2m", "d2m", "msl", "u10", "tcc"]
        region                  = "ContiguousUS" #, "Europe"]
        start_date              = "2024-01-01T00:00:00"
        end_date                = "2024-05-31T00:00:00"

[source.juno-grib] # juno-grib source parameters
    [source.juno-grib.input]
        root_path               = "/data/inputs/METOCEAN/rolling/model/atmos/ECMWF/IFS_010/1.0forecast/1h/grib/"
        file_path_date_format   = "%Y%m%d"
        file_header             = "JLS"
    [source.juno-grib.target]
        root_path               = "/data/inputs/METOCEAN/historical/model/atmos/ECMWF/IFS_010/analysis/6h/grib/"
        file_path_date_format   = "%Y/%m"
        file_header             = "JLD"
    origin_frequency            = "12h"
    file_date_format            = "%m%d%H%M"
    minus_timedelta             = "1h"
    plus_timedelta              = "1h"
